.contactItem {
    color: black;
    margin-right: 10px;
    -webkit-transition: 0.35s ease;
    -moz-transition: 0.35s ease;
    -o-transition: 0.35s ease;
    transition: 0.35s ease;
}

.contactItem:hover {
    color: lightgray;
    cursor: pointer;
}

.ContactLinks ul {
    list-style-type: none;
}

.ContactLinks ul li {
    display: inline;
}
