.photoClass {
    max-width: 90%;
    margin: auto;
}

.photo {
    margin: 2px;
    padding: 0;
    width: 100%;
    max-width: 250px;
    height: auto;
    -webkit-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
    -o-transition: 0.5s ease;
    transition: 0.5s ease;
}

.photo:hover {

}

.Gallery h3{
    margin: 5px;
    text-align: center;
}