.ImageModal {
    border: 1px solid lawngreen;
    display: none;
    position: fixed;
    z-index: 1;

    width: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);
}

.modalImage {
    margin: auto;
    display: block;
    width: 500px;
}

#caption {
    margin: auto;
    display: block;
    width: 80%;
    text-align: center;
    color: white;
}

.modalImage #caption {
    -webkit-animation-name: zoom;
    -moz-animation-name: zoom;
    -o-animation-name: zoom;
    animation-name: zoom;
    -webkit-animation-duration: 0.3s;
    -moz-animation-duration: 0.3s;
    -o-animation-duration: 0.3s;
    animation-duration: 0.3s;
}

@keyframes zoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}